/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: inherit !important;
}



$theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$grey-palette, A200),
    accent: mat.define-palette(mat.$red-palette, 500, A100, A400),
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($theme);